<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<link rel="stylesheet" href="/styles/main.css" />
	</head>
	<body>
		<div class="auth-wrapper">
			<div class="card">
				<h2>Error</h2>
				<p><%= error %></p>
				<a href="/" class="btn primary">Go Home</a>
			</div>
		</div>
	</body>
</html>
