<!DOCTYPE html>
<html>
	<head>
		<title>Upload File - File Uploader</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>

	<body>
		<div class="auth-wrapper">
			<div class="card">
				<h2>Upload to <%= folder.name %></h2>

				<form
					action="/folders/<%= folder.id %>/upload"
					method="POST"
					enctype="multipart/form-data">
					<div class="form-group">
						<label>Select File</label>
						<input type="file" name="file" required />
					</div>

					<button type="submit">Upload</button>
				</form>

				<div class="helper-text">
					<a href="/folders/<%= folder.id %>">← Back</a>
				</div>
			</div>
		</div>
	</body>
</html>
